* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

nav {
  display: flex;
  height: 70px;
  background: #FFFFFF;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  padding: 20px 36px;
}

section {
  padding: 20px;
}

.nav--logo {
  max-width: 100px;
}

.topPage--section{
  display: flex;
  flex-direction: column;
}

.grid--photo {
  max-width: 80%;
  align-self: center;
}

.topPage--header {
  margin-bottom: 16px;
  align-self: center;
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
}

.topPage--text {
  margin-top: 0;
  align-self: center;
  font-weight: 300;
  font-size: 16px;
  line-height: 110%;
}